body{
	text-align: center;
	font-family: 'Rubik', sans-serif;
}
.reg{
	color: red;
}
.reg span{
	color: blue;
}
.label{
	font-weight: bold;
	font-size: 17px;
}
#btn{
	color: lightsteelblue;
	background: linear-gradient(blue, blueviolet);
	font-size: 18px;
	padding: 5px;
}
.basic{
	width: 250px;
	height: 30px;
	font-size: 15px;
	border-radius: 10px;
	border: 3px dashed green;
	padding: 5px;
	box-shadow: rgba(0, 128, 0, 0.5) 0px 10px 10px 0px;
	margin-bottom: 10px;
}
.contactinfo{
	width: 250px;
	height: 30px;
	font-size: 15px;
	border-radius: 10px;
	border: 3px dashed blue;
	padding: 5px;
	box-shadow: rgba(0, 0, 255, 0.5) 0px 10px 10px 0px;
	margin-bottom: 10px;
}
input[type="Password"]{
	width: 250px;
	height: 30px;
	font-size: 15px;
	border-radius: 10px;
	border: 3px dashed orangered;
	padding: 5px;
	box-shadow: rgba(255, 69, 0, 0.5) 0px 10px 10px 0px;
	margin-bottom: 10px;
}
select{
	width: 150px;
	height: 40px;
	font-size: 18px;
	border-radius: 10px;
	border: 3px solid greenyellow;
	padding: 5px;
	box-shadow: rgba(111, 252, 50, 0.5) 0px 10px 10px 5px;
	text-align: center;
	font-weight: 550;

}